<!--<div class="widget">-->
  <!--<h1>*ngFor</h1>-->
  <!--<p *ngFor="let item of arr">{{item}}</p>-->
<!--</div>-->

<!--<div class="widget">-->
  <!--<h1>*ngIf + Conditional Templates</h1>-->
  <!--<p *ngIf="isTrue; then firstTemplate else secondTemplate">Hello</p>-->
  <!--<ng-template #firstTemplate>This is first template</ng-template>-->
  <!--<ng-template #secondTemplate>This is second template</ng-template>-->
<!--</div>-->

<!--<div class="widget">-->
  <!--<h1>[(ngModel)]</h1>-->
  <!--<app-items-form></app-items-form>-->
<!--</div>-->

<!--<div class="widget">-->
  <!--<app-pipes></app-pipes>-->
<!--</div>-->

<!--<div class="widget">-->
  <!--<h1>Base Converter - (ngModelChange)</h1>-->
  <!--<app-base-converter></app-base-converter>-->
<!--</div>-->

<nav>
  <ul>
    <li *ngFor="let item of characters" (click)="fetchMovie(item)">{{item.name}}</li>
  </ul>
</nav>

<div class="panels-wrapper" *ngIf="films != null">
  <div class="panel" *ngFor="let film of films">
    <h1>{{ film.title }}</h1>
    <h2>{{ film.release_date | date:'fullDate' }}</h2>
    <video></video>
  </div>
</div>
<div class="panels-wrapper" *ngIf="films === null">
  <div class="panel">
    {{errMsg}}
  </div>
</div>
